{% extends 'portfolio/base.html' %}
{% load static %} {# this statement is needed everytime you are accessing static files #}

{% block title %}Nick's Portfolio{% endblock %}

{% block content %}
    <div class="text-center">
        <img src="{% static 'portfolio/NicholasDawson(crop).jpeg' %}" alt="Nicholas Dawson's Headshot" class="w-50 rounded">
        <h1 class="w-50 mx-auto mt-2">Nick Dawson is a Software Engineering student at RIT.</h1>
    </div>
    <h2 class="mt-5">Projects</h2>
    <hr>
    <div class="row">
        {% for project in projects %}
            <div class="col-lg-4 col-md-6">
                {% if project.url %}
                <a href="{{ project.url }}" target="_blank">
                    <img src="{{ project.image.url }}" class="img-fluid mb-2">
                </a>
                {% else %}
                    <img src="{{ project.image.url }}" class="img-fluid mb-2">
                {% endif %}
                <h4>{{ project.title }}</h4>
                <p>{{ project.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}