{% extends 'portfolio/base.html' %}

{% block title %}Blog | Nick Dawson{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="font-weight-bold" style="font-size: 6rem">Blog</h1>
        {# Pluralize will add an `s` to the end (making the word plural) if the value is above 1 #}
        <h2>Nick has written {{ count }} blog{{ count | pluralize }}.</h2>
    </div>
    {% for post in posts %}
    <a href="{% url 'blog:detail' post.id %}"><h2>{{ post.title }}</h2></a>
    <h4>{{ post.date | date:'F j, Y' }}</h4>
    {# striptags removes html tags from the text #}
    {# truncatechars limits the amount of text to 100 chars and puts a `...` after if necessary #}
    <p>{{ post.content | striptags | truncatechars:100 }}</p>
    <hr>
    {% endfor %}
{% endblock %}